Server/Node-red/ttn-to-influx.json
[
    {
        "id": "86150e6dbfbc34b4",
        "type": "tab",
        "label": "AIrQualityHoboken",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "39fa01bd329d5feb",
        "type": "mqtt in",
        "z": "86150e6dbfbc34b4",
        "name": "MQTT",
        "topic": "v3/air-quality-hoboken@ttn/devices/eui-70b3d57ed0061370/up",
        "qos": "0",
        "datatype": "auto",
        "broker": "a086249b585960c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "ffa1cd3e858fa9ac"
            ]
        ]
    },
    {
        "id": "32201980e3750841",
        "type": "debug",
        "z": "86150e6dbfbc34b4",
        "name": "Alles",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "ffa1cd3e858fa9ac",
        "type": "json",
        "z": "86150e6dbfbc34b4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "c5a1e8741a9d20a2",
                "1d6b82808c2cc625",
                "37fd36c4e9e7da4a",
                "bf59d2c47683fdbd",
                "d0506229b0296782"
            ]
        ]
    },
    {
        "id": "adf65fec67884e24",
        "type": "debug",
        "z": "86150e6dbfbc34b4",
        "d": true,
        "name": "NOXH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "dfe2eac60b9fab1a",
        "type": "debug",
        "z": "86150e6dbfbc34b4",
        "d": true,
        "name": "NOXL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "65992b1ff88c8f91",
        "type": "debug",
        "z": "86150e6dbfbc34b4",
        "d": true,
        "name": "VOCH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "c5a1e8741a9d20a2",
        "type": "change",
        "z": "86150e6dbfbc34b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uplink_message.decoded_payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "32201980e3750841",
                "7c922ce8169b647f"
            ]
        ]
    },
    {
        "id": "1d6b82808c2cc625",
        "type": "change",
        "z": "86150e6dbfbc34b4",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uplink_message.decoded_payload.NOXH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 200,
        "wires": [
            [
                "adf65fec67884e24"
            ]
        ]
    },
    {
        "id": "37fd36c4e9e7da4a",
        "type": "change",
        "z": "86150e6dbfbc34b4",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uplink_message.decoded_payload.NOXL",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "dfe2eac60b9fab1a"
            ]
        ]
    },
    {
        "id": "bf59d2c47683fdbd",
        "type": "change",
        "z": "86150e6dbfbc34b4",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uplink_message.decoded_payload.VOCH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "65992b1ff88c8f91"
            ]
        ]
    },
    {
        "id": "d0506229b0296782",
        "type": "change",
        "z": "86150e6dbfbc34b4",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uplink_message.decoded_payload.VOCL",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "23800bc85368a431"
            ]
        ]
    },
    {
        "id": "23800bc85368a431",
        "type": "debug",
        "z": "86150e6dbfbc34b4",
        "d": true,
        "name": "VOCL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "7c922ce8169b647f",
        "type": "influxdb out",
        "z": "86150e6dbfbc34b4",
        "influxdb": "70a6b26a602cbc46",
        "name": "",
        "measurement": "Sensordata",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "AP Hogeschool",
        "bucket": "ESP32aqs",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "a086249b585960c4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "70a6b26a602cbc46",
        "type": "influxdb",
        "hostname": "172.18.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "ESP32aqs",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.18.0.3:8086",
        "rejectUnauthorized": false
    }
]